# =========================
# Python / uv
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Pulumi
# =========================
.pulumi/
Pulumi.*.yaml.bak

# =========================
# Secrets / local overrides
# =========================
.env
*.pem
*.key
kubeconfig*.yaml

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db