# =========================
# Python / uv
# =========================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Pulumi
# =========================
.pulumi/
Pulumi.*.yaml.bak
Pulumi.*.yaml
!Pulumi.sample.yaml

# =========================
# Secrets / local overrides
# =========================
secrets.local.env
.env
*.pem
*.key
kubeconfig*.yaml

# =========================
# OS / Editor
# =========================
.DS_Store
Thumbs.db